<h1>Testovacie zadanie - Husar</h1>
<div>
  <select id="currencyDropdown">
    <option value="1">EUR ( 1 )</option>
    <% @rates.each do |key,value| %>
        <option value="<%= value %>"><%= key %>( <%= value %> )</option>
    <% end %>
  </select>
</div>
<table>
  <tr>
    <td>Produkt</td>
    <td>Cena</td>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td class="price" data-price="<%= product.price %>"><%= product.price %></td>
  </tr>
  <% end %>
</table>
